<div class="card" style="width: 90%;">
    <div class="card-header d-flex justify-content-center">

        <img src="assets\trapez.png" class="card-img-top" alt="Rectangle image" style="height: 150px">
    </div>
    <div class="card-body">
        <h5 class="card-title">Ligebenet trapez</h5>
        <p class="card-text">Indtast værdierne i felterne, og tryk der efter på knappen "beregn."</p>
    </div>
    <div class="row card-body">
        <div class="col-md-6">
            <p>parralelside AB: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="lengthAB" [(ngModel)]="lengthAB" name="lengthAB" style="width: 75%">
        </div>
        <div class="col-md-6">
            <p>parralelside DC: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="lengthDC" [(ngModel)]="lengthDC" name="lengthDC" style="width: 75%">
        </div>
        <div class="col-md-6">
            <p>Side AD: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="lengthAD" [(ngModel)]="lengthAD" name="lengthAD" style="width: 75%">
        </div>
        <div class="col-md-6">
            <p>Side BC: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="lengthBC" [(ngModel)]="lengthBC" name="lengthBC" style="width: 75%">
        </div>
        <div class="col-md-6">
            <p>Højde H: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="height" [(ngModel)]="height" name="height" style="width: 75%">
        </div>
        <div class="col-md-6">
            <p>Areal: </p>
        </div>
        <div class="col-md-6">
            <p class="text-end">{{area}} cm.</p>
        </div>
        <div class="col-md-6">
            <p>Omkreds: </p>
        </div>
        <div class="col-md-6">
            <p class="text-end">{{circum}} cm.</p>
        </div>
        <div class="row card-body">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-primary" type="submit" (click)="calculate(lengthAB, lengthDC, lengthAD, lengthBC, height)">Beregn </button>
            </div>
        </div>
    </div>
</div>