<div class="card-header">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>Min sidekammerat: {{name.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3 d-flex justify-content-center">
            <img src="assets\unicorn.png" alt="A pink unicorn cat" style="height: 300px;">
        </div>


        <div class="col-md-3 d-flex align-items-center justify-content-center" style="height: 300px;">
            <p>En frisk ung gut, med flair for unicorns, som ønsker at blive programmør. Han har en kat, og er bidt af en gal, pink unicorn. som flittigt bruges i diverse programmerings eksempler. Desuden er brugen at betegnelsen gammel hund om mig, årsag
                til at han karikeres som en pink unicorn kat. :D
            </p>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="card-content"></div>