<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>Geometri for begyndere</h2>
        </div>
        <div class="col-sm-3">
            <app-rectangle></app-rectangle>
        </div>
        <div class="col-sm-3">
            <app-square></app-square>
        </div>
        <div class="col-sm-3">
            <app-parallelogram></app-parallelogram>
        </div>
        <div class="col-sm-3">
            <app-trapeze></app-trapeze>
        </div>
    </div>





</div>